html, body{
    height: 100%;
    font: large Avenir;
    color: black;
    font-family: 'JetBrains Mono', monospace;
}

* {
    border: 2px solid red;
}

#root {
    border: 2px solid red;
}

#main-content {
    border: 2px solid red;
    width: 100%;
    height: 80%;
}

#header, #footer {
    border: 2px solid red;
    width: 100%;
    height: 10%;
}

#main-content-left, #main-content-right, #main-content-main {
    border: 2px solid red;
}

#main-content-left, #main-content-right {
    width: 20%;
    height: 100%;
}

#main-content-main {
    width: 80%;
    height: 100%;
}

#header-home, #header-projects, #header-resume, #header-blog {
    width: 25%;
    height: 100%;
    border: 2px solid red;
    text-align: center;
    font: large 'JetBrains Mono';
}

#footer div {
    width: 25%;
    height: 100%;
    border: 2px solid red;
    font: large 'JetBrains Mono';
}

h1 {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

a {
    text-decoration: none;
}